* body{
    box-sizing: border-box;
    background-image: url("./futuristic-technology-background-with-honeycombs/3573353.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #084F60;
    background-blend-mode: screen;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
footer{
    position: absolute;
    bottom: 0;
}
@-ms-viewport{
    width: device-width;
}
[class*="col-"]{
    float: left;
    width: 100%;
}
@media only screen and (min-width: 426px){
    #containerProfile{
        /* grid-template-columns: 1fr 1fr !important; */
    }

}
@media only screen and (min-width: 600px){
    .col-T-1 {
        width: 8.33%;
    }
    .col-T-2 {
        width: 16.66%;
    }
    .col-T-3 {
        width: 25%;
    }
    .col-T-4 {
        width: 33.33%;
    }
    .col-T-5 {
        width: 41.66%;
    }
    .col-T-6 {
        width: 50%;
    }
    .col-T-7 {
        width: 58.33%;
    }
    .col-T-8 {
        width: 66.66%;
    }
    .col-T-9 {
        width: 75%;
    }.col-T-10 {
        width: 83.33%;
    }
    .col-T-11 {
        width: 91.66%;
    }
    .col-T-12 {
        width: 100%;
    }
    .mobileNav{
        visibility: hidden;
    }
    #navigationBar{
        visibility: visible !important;
        display: flex;
        display: -webkit-flex;
        height: 88.6562px;
        justify-content: center;
        position: initial !important;
    }
    /* #navigationBar .phaseOut{
        position: initial !important;
    } */
    .mobileNav{
        position: absolute !important;
    }
    #containerProfile{
        grid-template-columns: 1fr 1fr 1fr !important;
        /* grid-template-rows: 20% 20% 20% 20% 20% !important; */
    }
    .intro{
        /* grid-column-start: 1;
        grid-column-end: 3; */
  /* grid-row-start: row1-start;
  grid-row-end: 3; */
    }
    #knowledgeIcons{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
    .profileBox {
        max-width: unset !important;
    }
    .codingKnowledge{
        /* grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5; */
    }
    .aboutMe{
        /* grid-column-start: 4;
        grid-column-end: 5; */
    }
    .methodContact{
        font-size: 2vw;
    }
    .contactMeBox{
        margin-top: unset !important;
    }
}
@media only screen and (min-width: 768px){
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }.col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .methodContact{
        font-size: 1.7vw;
    }
    .githubProject{
        height: 40vh !important;
    }
    .showcaseBox{
        /* width: 90% !important; */
    }
    .introBox h1{
        margin-top: -50px !important;
    }
    .projectInfo{
        font-size: 2vmin !important;
    }
    .deafBox{
        width: 60% !important;
    }
    /* .boxOfInterests{
        width: 50% !important;
    } */
}
@media only screen and (min-width: 800px){
    .showcaseBox{
        grid-template-columns: 1fr 1fr !important;
        /* margin-top: -50px !important; */
    }
    .contactInfoBox > p{
        font-size: 1.3vw !important;
    }
    .photosBox{
        grid-template-columns: 1fr 1fr !important;
    }
    /* .picOfMe{
        width: 90% !important;
    } */
    .col-4-L{
        width: 33.33%;
    }
}
#navigationBar{
    padding: 5px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
    visibility: hidden;
    position: absolute;
}
#navigationBar a{
    width: 20%;
    padding: 10px 10px 8px;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin: auto;
    font-size: larger;
    color: white;
}
/* #navigationBar .phaseOut{
    position: absolute;
} */
.disabledLink {
    pointer-events: none;
}
#navigationBar a:hover{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    border-radius: 2px;
}
#navigationBar a:hover::after{
    content: '';
    height: 2px;
    width: 30%;
    background: white;
    position: absolute;
    left: calc(50% - 15%);
    bottom: 2px;
}
#navigationBar img{
    border-radius: 33px;
    width: 100px;
    margin: auto;
    height: auto;
}
.mobileNav img{
    /* border-radius: 33px; */
    width: 50px;
    filter: drop-shadow(2px 2px black);
    /* margin: auto;
    height: auto; */
}
.mobileNav button{
    background: none;
    border: none;
}
.mobileNav {
    position: relative;
    /* top: -105px; */
    display: inline-block;
}
.drop-content{
    display: none;
    position: absolute;
    top: 4px;
    left: 56px;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a {
    /* background-color: rgba(255, 255, 255, .22); */
    /* background: rgba(0, 0, 0, 0.30); */
    /* backdrop-filter: blur(5px); */
    text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
    background: #78a2ad;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
}
.mobileNav:hover .drop-content{
    display: block;
}
.drop-content a:hover{
    border-bottom: solid black;
}

/*For Welcome page only*/

#welcomeContainer{
    text-align: center;
    margin: 50px auto;
    padding: 30px;
    width: fit-content;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
footer{
    text-align: center;
    font-size: xx-small;
}

/*For Intro page only */
#containerProfile{
    border: solid green;
    display: grid;
    grid-template-columns: 1fr;
}
.profileBox{
    border: solid 1px #F6C859;
    width: 90%;
    /* max-width: 318px; */
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    /* height: fit-content; */
    text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
    background: rgba(255, 255, 255, .15);
    /* background: rgba(0, 0, 0, 0.25); */
    backdrop-filter: blur(5px);
    text-align: center;
}
#introTitle{
    position: absolute;
    top: 0;
    right: 20px;
}
#introStatement{
    position: absolute;
    bottom: 10px;
    margin: 0;
    /* border: 2px solid; */
    border-radius: 5px;
    text-align: initial;
    width: 178px;
    background: rgba(255, 255, 255, .15);
    /* background: rgba(0, 0, 0, 0.25); */
    backdrop-filter: blur(5px);
}
.profileBox > h2{
    font-weight: 400;
    letter-spacing: 2px;
}
#knowledgeIcons {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
}
.testCorner:before, 
.testCorner:after, 
.testCorner>:last-child:before, 
.testCorner>:last-child:after {
    position: absolute;
    width: 20px; 
    height: 20px;
    border-color: white; 
    border-style: solid;
    content: ' ';
}

.testCorner:before {
    top: 0px;
    left: 0px;
    border-width: 1px 0 0 1px
}

.testCorner:after {
    top: 0px;
    right: 0px;
    border-width: 1px 1px 0 0
}

.testCorner>:last-child:before {
    bottom: 0px;
    right: 0px;     
    border-width: 0 1px 1px 0
}

.testCorner>:last-child:after {
    bottom: 0px;
    left: 0px;
    border-width: 0 0 1px 1px
}
#knowledgeIcons > li{
    width: 100%;
    position: relative;
    padding-top: 10px;
    /* border: solid purple; */
}
.testCorner > p{
    /* display: flex; */
    margin: 10px 0;
}
#knowledgeIcons img {
    width: 50px;
    height: 67px;
}
#introContainer > h1{
    text-align: center;
    margin-top: -80px;
}
#headerAboutMe{
    display: flex;
    justify-content: center;
    width: 100%;
}
.picContainer{
    position: relative;
    /* display: grid; */
}
.aboutMePic{
    width: 60px;
    border-radius: 30px;
    margin: 10px;
}
/* .hoverInfo{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hoverInfo .titleForBio{
    margin: 5px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
}
.picContainer:hover img{
    opacity: .5;
}
.picContainer:hover .hoverInfo{
    opacity: 1;
    border: 1px solid black;
    background-color: #084F60;
    padding: 5px;
} */
.picOfMe{
    /* object-fit: cover; */
    width: 100%;
    max-width: 317px;
    /* border-radius: 2px;
    margin: auto;
    margin-left: auto;
    margin-right: auto; */
}
.photosBox{
    display: grid;
    grid-template-columns: auto;
}
.introBox h1{
    text-align: center;
    margin-top: unset;
}
.contactInfoBox{
    max-width: 400px;
    padding: 0 20px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
.listOfKnowledge{
    display: inline-block;
    list-style-type: "- ";
    padding-left: 20px;
    margin-top: 0;
    font-size: 14px;
}
.listOfKnowledge p{
    margin-bottom: 5px;
}
.contactInfoBox > .methodContact{
    position: relative;
    outline: 0;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 15px 75px 15px 25px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
    list-style-type: none;
}
.svgPicDoc {
    width: 30px;
    margin: 5px 10px;
    cursor: pointer;
}
.pdfIcon{
    height: 30px;
    margin-bottom: 7.5px;
}
.emailIcon{
    margin-bottom: -17px;
    margin-left: 0px;
    width: 40px;
}
.contactInfoBox > .methodContact::marker {
    display: none;
}
.contactInfoBox > .methodContact::-webkit-details-marker {
    display: none;
}
.contactInfoBox > .methodContact:hover {
    text-indent: 15px;
}
.contactInfoBox > .methodContact:after {
    content: "+";
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    font-size: 1.5em;
    right: 35px;
    top: 50%;
    line-height: 0;
    mix-blend-mode: overlay;
  }
  
  .contactInfoBox > details[open] .methodContact {
    text-indent: 30px;
  }
  .contactInfoBox > details[open] .methodContact:before {
    text-indent: -10px;
  }
  .contactInfoBox[open] .methodContact:after {
    content: "‑";
  }
.contactInfoBox > p{
    position: relative;
    font-size: 12px;
    outline: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
    list-style-type: none;
}
.contactInfoBox > section{
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    margin: 0 0 15px;
}
.contactInfoBox > p::before{
    position: absolute;
    color: rgba(0, 0 0, 0.5);
    left: 2%;
    top: -30px;
    font-size: 112px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    mix-blend-mode: overlay;
}
.contactInfoBox > p > a {
    color: whitesmoke;
    text-decoration: none;
}
/* .contactInfoBox > p > a:hover {
    color: yellowgreen;
} */

/* Only for My Works */
.showcaseBox{
    display: grid;
    grid-template-columns: 1fr;
    /* margin-top: -50px !important; */
    grid-gap: 10px;
    width: 95%;
    margin: 10px auto;
}

.githubProject{
    width: 95%;
    border-radius: 2px;
    height: auto;
    text-align: center;
    padding: 2px;
}
.projectBox{
    border: solid 1px #F6C859;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
    border-radius: 2px;
    text-align: center;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    position: relative;
}
.projectInfo{
    width: 80%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3vmin;
}
.projectInfo > h4{
    margin: 5px;
}
.projectInfo > p {
    margin-top: 5px;
    width: 90%;
    margin: 0 auto;
}
.projectInfo > ul{
    text-align: initial;
}
.projectInfo > .longList2{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    width: 40%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    text-align: center;
    padding-bottom: 5px;
}
.projectInfo > .longList{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    text-align: center;
    padding-bottom: 5px;
}
.projectBox:hover .projectInfo{
    opacity: 1;
    background-color: #084F60;
    border-radius: 3px;
}
.projectBox h3{
    margin-bottom: 10px;
}

/*Only for Deaf Culture */

.deafBox{
    float: unset;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    /* margin-top: -60px !important; */
    padding: 10px;
    border: #F6C859 solid 1px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
/* Only for Contact Me */
/* .boxOfInterests{
    float: unset;
    width: 90%;
    margin: 0 auto;
    margin-top: -60px !important;
    padding: 10px;
    height: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
} */
.boxInterests{
    width: 230px;
    padding: 5px 10px;
    margin: 0px auto;
    border-radius: 5px;
    background-color: 363C49;
}
.boxInterests > summary{
    cursor: pointer;
}
.boxInterests p{
    margin-bottom: 0px;
    margin-top: 5px;
}
/* .boxOfInterests > h3{
    border-bottom: solid 1px;
    padding-bottom: 5px;
    margin: 5px auto;
    width: 250px;
} */
.boxInterests > summary::marker {
    display: none;
}
.boxInterests > summary::-webkit-details-marker {
    display: none;
}
.boxInterests > summary:before {
    content: "↠";
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 5px;
    font-size: 1.5em;
    line-height: 0;
    mix-blend-mode: overlay;
  }
  .boxInterests[open] summary:before {
    content: "↡";
  }
  .boxInterests > summary:focus{
    outline:none;
}

#containerContactMe{
    /* margin-top: -85px !important; */
    width: 75%;
    margin: 0 auto;
    border: #F6C859 1px solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
#containerContacts {
    text-align: center;
    font-size: 0;
    position: relative;
}
#iconsContainer{
    /* position: absolute;
    bottom: 40px;
    right: 0;
    left: 0; */
    /* background: rgba(255, 255, 255, .15); */
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    /* width: 290px; */
    width: 100%;
    /* margin: 10px auto 0; */
    border-radius: 10px;
    border: solid 1px #F6C859;
}
/* #iconsContainer .contactBox{  
    display: inline-block;
    /* position: absolute;
    bottom: 10px; 
} 
.contactPic{
    border: solid;
    margin: 0 auto;
    width: 30%;
} */
#emailForm{
    /* width: 60%; */
    /* border: #F6C859 1px solid;
    border-radius: 5px; */
    /* background: aliceblue; */
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
#emailForm > p{
    color: white;
    font-weight: 600;
    padding: 5px;
    letter-spacing: 1px;
    text-shadow: 2px 2px black;
}
.emailInputs{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
}
.emailInputs-submit{

}